/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/ 
:root.theme-light {
  --accent-color: #ff8dcb;
  --bg-image: url(../images/cover-image-light.png); 
  --bg-color: #FFF1F7;
  --focus-title-text-color: #FFC2E6;
  --text-color: #353430;
  --font-color-highlighted-title: var(--text-color);
  --border-color-button-on-focus-active: var(--text-color);
  --border-color-button-hover: rgba(50,49,45, 0.4);
  --text-color-nav-buttons: var(--text-color);
  --color-decorative-corner: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bg-image: url(../images/cover-image-light.png); 
    --bg-color: #FFF1F7;
    --focus-title-text-color: #FFC2E6;
    --text-color: #353430;
    --font-color-highlighted-title: var(--text-color);
    --border-color-button-on-focus-active: var(--text-color);
    --border-color-button-hover: rgba(50,49,45, 0.4);
    --text-color-nav-buttons: var(--text-color);
    --color-decorative-corner: var(--text-color);
  }
}

.theme-light .header__decoration-element {
  display: none;
}
.theme-light .header__decoration-element::after {
  display: none;
}